body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  font-family: verdana;
  background-image: url(./eye-background.jpg);
}

button {
  padding: 8px 30px;
  background-color: black;
  color: white;
  font-weight: bold;
}

h1 {
  font-size: 40px;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-bottom: 0px;
}

.inputSection {
  width: 400px;
  margin: 50px 0px 80px 0px
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 10px;
}

.addOption {
  margin-top: 10px;
}
